.no-padding {
    padding: 0 !important;
}

/*覆盖导航 按钮 颜色*/
.nav-btn-color .ivu-btn {
    background-color: #1abc9c;
}

.nav-btn-color .ivu-btn:hover {
    background-color: #21ab85;
}

/*整体页面的行高 在导航 那个缝隙 有影响*/
.user-header-recover .i-layout-header-trigger-no-height .ivu-dropdown {
    line-height: 20px !important;
}

.re-header-size {
    /*height: 20px !important;*/
}

/*隐藏LOGO的文字*/
.i-header-logo-no-words {
    width: auto !important;
}

/*内容板块边距设置*/
.i-layout-content-main-pro {
    margin-top: 10px !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

/*内容板块 左边板块缩小样式*/
.i-layout-slider-min {
    display: none;
    width: 80px !important;
    transition: all 0.5s;
}

/*内容整体flex布局*/
.body-content-main {
    display: flex;
    /*height: 100vh;*/
}

/*内容板块左右宽度布局*/
.content-layout-left {
    max-width: 29%;
    height: 100%;
    flex: 1;
    float: left;
}

.content-layout-right {
    width: 70% !important;
    padding: 10px;
    float: right;
    margin-left: 1%;
    margin-right: 1%;
    background: #fff;
    border-radius: 2px;
}

/*清楚浮动造成的页面背景不能覆盖*/
.content-layout-right:after {
    clear: both;
}

.user-full-screen {
    width: 100% !important;
}

/*左边的title*/
.i-admin-title {
    margin-bottom: 20px;
    display: block;
}

.content-layout-right-pro {
    width: 100% !important;
    margin-right: 0 !important;
}

/*左侧的flex沾满布局*/
.i-admin-left-menu {
    /*height: 100vh;*/
}

.user-full-img img {
    width: 100%;
    height: 100%;
}

.ivu-global-footer {
    margin: 15px 0 24px 0 !important;
}

/*存储页面的分割设置*/
.demo-split-pane .ivu-cell-title {
    font-size: 12px !important;
    line-height: 18px;
}


/*临时存储 表格删除padding*/
.temporary_table_nopadding .ivu-card-body {
    padding: 0 !important;
}

/*分布状况页面的表格 第三列 字体-宽度设置*/
.fb-table .ivu-table-row > td:nth-child(3) > .ivu-table-cell {
    padding: 2px !important;
    font-size: 12px;
}

/*环境监测的数形结构 里面的i标签设置*/
.env-air-tree .ivu-btn > .ivu-icon {
    line-height: normal;
    color: #ff5741;
    margin-top: -3px;
}

/*修改了色块 导致树形结构展开关闭图标异常 修复*/
.env-air-tree .ivu-icon-ios-arrow-forward {
    margin-top: -20px;
}

/*环境监测的数形结构 隐藏 按钮*/
.env-air-tree .ivu-btn-primary {
    background-color: unset !important;
    border-color: unset !important;
}

.env-air-tree .ivu-btn-primary:hover {
    background-color: unset;
    border-color: unset;
}

/*用于覆盖树形结构覆盖颜色*/
.tree-color-black .ivu-btn > .ivu-icon {
    color: #272927 !important;
}

/*实时监控 表单的lable大小*/
.real-time-form .ivu-form-item-label {
    font-size: 12px !important;
}

.electricity-box {
    width: 180px;
}

/*用电监测的表格里面span标签 对其*/
.user-electricity-span span {
    font-size: 12px;
}

.user-electricity-span span:nth-child(1) {
    width: 50%;
    text-align: right;
    display: inline-block;
}

/*父级定位器*/
.father-position {
    position: relative;
}

/*子级定位器*/
.child-position {
    position: absolute;
}

/*特种设备*/
.tzsb-er-min {
    height: 116px;
    overflow: hidden;
    border: 1px solid #e3e3e3;
    margin-bottom: 15px;
    margin-top: 10px;
}

.tzsb-er-min canvas {
    width: calc(92px * 0.9) !important;
    height: calc(116px * 0.9) !important;
    top: 11px !important;
}

.tzsb-er-min > #chartLineBox > div {
    width: 91px !important;
}

.tzsb-child-info {
    left: 30%;
    top: 3%;
}

.tzsb-child-info .left-content {
    width: 48%;
    float: left;
}

.tzsb-child-info .right-content {
    width: 51%;
    float: left;
}

.tzsb-title {
    text-align: center;
}

.tzsb-group {
    float: left;
}

.tzsb-group span {
    font-size: 12px;
    line-height: 15px;
}

.tzsb-info-value {
    padding-left: 7px;
    color: #006F04;
}

.tzsb-history-search-bt {
    margin-left: 10px;
}

/*控制室管理*/
.kzs-menu-btn {
    text-align: center;
}

/*应管理*/
.hzyj-btn > span {
    width: 100%;
}

.kzs-menu-btn .ivu-btn:nth-child(2) {
    margin-left: 20px;
}

.kzs-menu-smail-btn {
    text-align: right;
}

.kzs-menu-smail-btn .ivu-btn:nth-child(2) {
    margin-left: 15px;
}

.kzs-zb-table {
    margin-top: 20px;
}

/*人员管理页面*/
.echart-box #chartLineBox2 canvas, #chartLineBox3 canvas  {
    top: -50px !important;
}

/*属性结构*/
.ryxxgl-tree .ivu-btn-icon-only{
    height: 25px !important;
}

.ryxxgl-tree .ivu-btn > .ivu-icon {
    line-height: unset !important;
}

.ryxxgl-tree .ivu-tree-arrow i {
    margin-top: -20px;
}
.cell-normal-color {
    background-color: #0feb16 !important;
}

.cell-warning-color {
    background-color: #e8eb0f !important;
}

.cell-error-color {
    background-color: #fb1010 !important;
}

.cell-a-color {
    background-color: #fb1010 !important;
}

.cell-b-color {
    background-color: #7a621f !important;
}

.cell-c-color {
    background-color: #fbf374 !important;
}

.cell-other-color {
    background-color: #3123fb !important;
}

.cell-q-gray-color {
    background-color: #f5f5f5 !important;
}

.half-width {
    width: 49% !important;
}

.ivu-float-left {
    float: left;
}
